<!DOCTYPE html>
<html>
<head>
	<title>编辑兑换/购买记录</title>
	#parse("sys/header.html")
	<link rel="stylesheet" href="${rc.contextPath}/statics/css/module/mall_product.css">
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal_mall_product">
		<div class="form-group">
			<label class="control-label col-sm-1">产品名称</label>
			<div class="col-sm-10">
				<input class="form-control" v-model="model.productTitle" type="text" readonly="true"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1">用户名</label>
			<div class="col-sm-4">
				<input class="form-control" v-model="model.userName" type="text" readonly="true"/>
			</div>
			<label class="control-label col-sm-1">状态</label>
			<div class="col-sm-4">
				<select class="form-control" v-model="model.status" disabled="true">
					<option value="200001">待审核</option>
					<option value="200002">已处理</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1">兑换数量</label>
			<div class="col-sm-4">
				<input class="form-control" v-model="model.quality" type="number" readonly="true"/>
			</div>
			<label class="control-label col-sm-1">消耗积分</label>
			<div class="col-sm-4">
				<input class="form-control" v-model="model.points" type="number" readonly="true"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1">创建时间</label>
			<div class="col-sm-4">
				<input class="form-control" v-model="model.createTime" type="text"
					   readonly="true" id="mall_createTime"/>
			</div>
			<label class="control-label col-sm-1">更新时间</label>
			<div class="col-sm-4">
				<input class="form-control" v-model="model.updateTime" type="text"
					   readonly="true" id="mall_updateTime"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1">收件人</label>
			<div class="col-sm-4">
				<input class="form-control" v-model="model.receiveName" type="text" readonly="true"/>
			</div>
			<label class="control-label col-sm-1">电话号码</label>
			<div class="col-sm-4">
				<input class="form-control" v-model="model.receiveMobile" type="text" readonly="true"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1">地址</label>
			<div class="col-sm-10">
				<input v-model="model.address" class="form-control" readonly="true"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1">物流</label>
			<div class="col-sm-10">
				<textarea v-model="model.logistic" class="form-control" rows="4" readonly="true"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-1">备注</label>
			<div class="col-sm-10" style="margin-top: 5px;">
				<textarea v-model="model.mark" class="form-control" rows="3" readonly="true"></textarea>
			</div>
		</div>
		<input class="hidden" type="text" v-model="model.id" /><!--ID-->
		<div class="form-submit">
			<div class="col-sm-2 control-label"></div>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
	</form>
</div>
<script src="${rc.contextPath}/js/mall/mall_exchange_add.js?_${date.systemTime}"></script>
</body>
</html>