<!DOCTYPE html>
<html>
<head>
	<title>商品列表</title>
	#parse("sys/header.html")
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="grid-btn">
<!--			#if($shiro.hasPermission("mall:points:save"))-->
<!--			<a class="btn btn-success" href="mall_product_add.html"><i class="fa fa-plus" aria-hidden="true"></i>新增</a>-->
<!--			#end-->
			#if($shiro.hasPermission("mall:points:view"))
			<button type="button"  class="btn btn-primary" @click="update"><i class="fa fa-pencil fa-fw"></i>查看</button>
			#end
<!--			#if($shiro.hasPermission("mall:delete"))-->
<!--			<button type="button" class="btn btn-danger" @click="del"><i class="fa fa-trash-o fa-fw"></i>删除</button>-->
<!--			#end-->
		</div>
		<div class="grid-btn">
			产品名称：<input type="text" class="form-control" style="width: 150px;display: inline-block;" v-model="productTitle" @keyup.enter="query" placeholder="请输入产品名称">
			价格：<input type="number" class="form-control" style="width: 120px;display: inline-block;" v-model="price" @keyup.enter="query" placeholder="请输入价格">
			状态：<select class="form-control" style="width: 100px;display: inline-block;" v-model="status">
				<option value="220001">正常</option>
				<option value="220002">已下架</option>
			</select>
			<button type="button" class="btn btn-info" @click="query"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
		</div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>
	<script src="${rc.contextPath}/js/mall/mall_points.js?_${date.systemTime}"></script>
</body>
</html>