<!DOCTYPE html>
<html>
<head>
	<title>兑换/购买列表</title>
	#parse("sys/header.html")
	<link rel="stylesheet" href="${rc.contextPath}/statics/css/module/mall_product.css">
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="grid-btn">
<!--			#if($shiro.hasPermission("mall:exchange:save"))-->
<!--			<a class="btn btn-success" href="mall_product_add.html"><i class="fa fa-plus" aria-hidden="true"></i>新增</a>-->
<!--			#end-->
			#if($shiro.hasPermission("mall:exchange:update"))
			<button type="button"  class="btn btn-primary" @click="update"><i class="fa fa-pencil fa-fw"></i>修改</button>
			#end
			#if($shiro.hasPermission("mall:exchange:info"))
			<button type="button" class="btn btn-primary" @click="view"><i class="fa fa-file-text"></i> 查看</button>
			#end
		</div>
		<div class="grid-btn">
			用户名：<input type="text" class="form-control" style="width: 120px;display: inline-block;" v-model="userName" @keyup.enter="query" placeholder="请输入用户名">
			产品名称：<input type="text" class="form-control" style="width: 150px;display: inline-block;" v-model="productTitle" @keyup.enter="query" placeholder="请输入产品名称">
			收件人：<input type="text" class="form-control" style="width: 110px;display: inline-block;" v-model="receiveName" @keyup.enter="query" placeholder="请输入收件人">
			状态：<select class="form-control" style="width: 100px;display: inline-block;" v-model="status">
				<option value="200001">待审核</option>
				<option value="200002">已处理</option>
			</select>
			<button type="button" class="btn btn-info" @click="query"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
		</div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>
	<script src="${rc.contextPath}/js/mall/mall_exchange.js?_${date.systemTime}"></script>
</body>
</html>