<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">汽车品牌</div>
		   	<div class="col-sm-10">
		   			<select  class="form-control" v-model="tBrandSeries.brandId" name="brandId" id="brandId">
			   		</select>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">车系</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tBrandSeries.carSerial" placeholder="请输入车系名称" id="carSerial"/>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
		<input type="hidden" id="brandSeriesId"/>
	</form>
</div>

<script src="${rc.contextPath}/js/tbrandseries/tbrandseries_add.js?_${date.systemTime}"></script>
</body>
</html>