<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal" style="width:100%;" enctype="multipart/form-data">
		<div class="form-group">
			<div class="col-sm-2 control-label">汽车名称</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarLease.carName" id="carName" placeholder="请输入汽车名称"/>
		    </div>
		    <div class="col-sm-2 control-label">品牌</div>
		   	<div class="col-sm-2">
		   		<select  class="form-control" v-model="tCarLease.brand" id="brand" @change="selectBrand">
		   			<option value="0">请选择汽车品牌</option>
		   		</select>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">汽车图片</div>
		   	<div class="col-sm-2">
		   		<a style="text-decoration: none;display: none;" target="_blank" id="icon">查看封面</a><input type="file" v-model="tCarLease.icon" id="uFile" name="uFile" placeholder="请选择汽车图片"/>
		    </div>
		    <div class="col-sm-2 control-label">先用年数</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarLease.year" id="year" placeholder="请输入先用年数"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">车系</div>
		   	<div class="col-sm-2">
		   		<select  class="form-control" v-model="tCarLease.carSeriesId" id="series">
		   			<option value="0">请选择车系</option>
		   		</select>
		    </div>
		   <div class="col-sm-2 control-label">车价</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.carCost" id="carCost" placeholder="请输入车价(单位：万元)"/>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">厂商指导价</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.firmCost" id="firmCost" placeholder="请输入厂商指导价(单位：万元)"/>
		    </div>
		   	<div class="col-sm-2 control-label">车身颜色</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarLease.carColor" id="carColor" placeholder="请输入颜色编号,用','隔开"/>
		      <a href="http://link.fobshanghai.com/rgbcolor.htm" target="_blank" style="text-decoration: none;">查看颜色编号</a>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">车辆信息</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarLease.carTypeInfo" id="carTypeInfo" placeholder="请输入车辆信息"/>
		    </div>
		</div>
		<div class="form-group">
	 <div class="col-sm-2 control-label">主标签</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarLease.titleLabel" id="titleLabel" placeholder="请输入主标签"/>
		    </div>
		    <div class="col-sm-2 control-label">标签</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarLease.labels" id="labels" placeholder="请输入标签,用','隔开"/>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-2 control-label" style="color:red;">36期</div>
		   	<div class="col-sm-2">
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-2 control-label">首付</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.firstPayment1" id="firstPayment1" placeholder="请输入首付(单位：万元)"/>
		    </div>
		    <div class="col-sm-2 control-label">月供</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.monthPayment1" id="monthPayment1" placeholder="请输入月供(单位：元)"/>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-2 control-label">备注</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarLease.mark1" id="mark1" placeholder="如：包含首年保险，购置税，服务费"/>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-2 control-label" style="color:red;">48期</div>
		   	<div class="col-sm-2">
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-2 control-label">首付</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.firstPayment" id="firstPayment" placeholder="请输入首付(单位：万元)"/>
		    </div>
		    <div class="col-sm-2 control-label">月供</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.monthPayment" id="monthPayment" placeholder="请输入月供(单位：元)"/>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-2 control-label">备注</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarLease.mark" id="mark" placeholder="如：包含首年保险，购置税，服务费"/>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-2 control-label" style="color:red;">1+3</div>
		   	<div class="col-sm-2">
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-2 control-label">首年首付</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.tfirstYearFirstPay" id="tfirstYearFirstPay" placeholder="请输入首付(单位：万元)"/>
		    </div>
		    <div class="col-sm-2 control-label">首年月供</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.tfirstYearMonthPayment" id="tfirstYearMonthPayment" placeholder="请输入月供(单位：元)"/>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-2 control-label">一年后分期数</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.tperiods" id="tperiods" placeholder="请输入分期数"/>
		    </div>
		    <div class="col-sm-2 control-label">一年后分期月供</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.tmonthPayment" id="tmonthPayment" placeholder="请输入月供(单位：元)"/>
		    </div>
		</div>
		<div class="form-group">
		  	<div class="col-sm-2 control-label">尾款</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.finalPayment" id="finalPayment" placeholder="请输入尾款"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">购车支付费用(购车后返还)</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.realFirstPayment" id="realFirstPayment" placeholder="请输入购车支付费用(单位：万)"/>
		    </div>
		    <div class="col-sm-2 control-label">交车服务费用</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarLease.serviceFee" id="serviceFee" placeholder="请输入交车服务费用(单位：元)"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">汽车详情</div>
		   	<div class="col-sm-10">
		   		<textarea id="content" name="content" id="content" v-model="tCarLease.content" class="summernote">
				</textarea>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
		<input type="hidden" id="cartId"/>
	</form>
</div>
<link rel="stylesheet" type="text/css" href="${rc.contextPath}/summernote/css/bootstrap.css">
<link href="${rc.contextPath}/summernote/dist/summernote.css" rel="stylesheet"/>
<script src="${rc.contextPath}/summernote/js/jquery.min.js"></script>
<script src="${rc.contextPath}/summernote/js/bootstrap.min.js"></script>
<script src="${rc.contextPath}/summernote/dist/summernote.js"></script>
<script src="${rc.contextPath}/summernote/dist/lang/summernote-zh-CN.js"></script>    <!-- 中文-->
<script src="${rc.contextPath}/js/sys/common.js"></script>
<script src="${rc.contextPath}/js/tcarlease/tcarlease_add.js?_${date.systemTime}"></script>
</body>
</html>