<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal" style="width:100%;" enctype="multipart/form-data">
		<div class="form-group">
			<div class="col-sm-2 control-label">车名</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarImport.carName" id="carName" placeholder="请输入车名"/>
		    </div>
		   	<div class="col-sm-2 control-label">品牌</div>
		   	<div class="col-sm-2">
		   		<select  class="form-control" v-model="tCarImport.brand" id="brand" @change="selectBrand">
		   			<option value="0">请选择汽车品牌</option>
		   		</select>
		    </div>
		</div>
		<div class="form-group">
		   <div class="col-sm-2 control-label">车辆图片</div>
		   	<div class="col-sm-2">
		      <a style="text-decoration: none;display: none;" target="_blank" id="icon">查看封面</a><input type="file" v-model="tCarImport.icon" name="uFile" id="uFile" placeholder=""/>
		    </div>
		    <div class="col-sm-2 control-label">车辆PC图片</div>
		   	<div class="col-sm-2">
		      <a style="text-decoration: none;display: none;" target="_blank" id="pcIcon">查看封面</a><input type="file" v-model="tCarImport.pcIcon" name="uFile1" id="uFile1" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">市场价</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarImport.marketPrice" id="marketPrice" placeholder="请输入市场价"/>
		    </div>
		   	<div class="col-sm-2 control-label">参考价</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarImport.nowPrice" id="nowPrice" placeholder="请输入参考价"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">最大节省</div>
		   	<div class="col-sm-2">
		      <input type="number" class="form-control" v-model="tCarImport.maxSave" id="maxSave" placeholder="请输入最大节省金额"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">备注</div>
		   	<div class="col-sm-6">
		      <input type="text" class="form-control" v-model="tCarImport.mark" id="mark" placeholder="请输入备注"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">车辆颜色</div>
		   	<div class="col-sm-6">
		      <input type="text" class="form-control" v-model="tCarImport.carColor" id="carColor" placeholder="请输入颜色编号,用','隔开"/>
		      <a href="http://link.fobshanghai.com/rgbcolor.htm" target="_blank" style="text-decoration: none;">查看颜色编号</a>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">优势条件</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarImport.favour" id="favour" placeholder="请输入优势条件"/>
		    </div>
		   	<div class="col-sm-2 control-label">服务优势</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarImport.servicePiror" id="servicePiror" placeholder="请输入服务优势"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">热度</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarImport.hot" id="hot" placeholder="请输入热度"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">标签</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarImport.labels" id="labels" placeholder="请输入标签,以','隔开"/>
		    </div>
		   	<div class="col-sm-2 control-label">主标签</div>
		   	<div class="col-sm-2">
		      	<input type="text" class="form-control" v-model="tCarImport.titleLabel" id="titleLabel" placeholder="请输入主标签"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">车辆级别</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarImport.carLevelCd" id="carLevelCd" placeholder="请选择车辆级别"/>
		    </div>
		   	<div class="col-sm-2 control-label">车辆品类</div>
		   	<div class="col-sm-2">
		      <input type="text" class="form-control" v-model="tCarImport.carClassCd" id="carClassCd" placeholder="请选择车辆品类"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">车系</div>
		   	<div class="col-sm-2">
		      <select  class="form-control" v-model="tCarImport.carSeriesId" id="series">
		   			<option value="0">请选择车系</option>
		   		</select>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">汽车详情</div>
		   	<div class="col-sm-10">
		   		<textarea id="content" name="content" v-model="tCarImport.content" class="summernote">
				</textarea>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
		<input type="hidden" id="cartId"/>
	</form>
</div>
<link rel="stylesheet" type="text/css" href="${rc.contextPath}/summernote/css/bootstrap.css">
<link href="${rc.contextPath}/summernote/dist/summernote.css" rel="stylesheet"/>
<script src="${rc.contextPath}/summernote/js/jquery.min.js"></script>
<script src="${rc.contextPath}/summernote/js/bootstrap.min.js"></script>
<script src="${rc.contextPath}/summernote/dist/summernote.js"></script>
<script src="${rc.contextPath}/summernote/dist/lang/summernote-zh-CN.js"></script>    <!-- 中文-->
<script src="${rc.contextPath}/js/sys/common.js"></script>
<script src="${rc.contextPath}/js/tcarimport/tcarimport_add.js?_${date.systemTime}"></script>
</body>
</html>