<!DOCTYPE html>
<html>
<head>
<title></title>
	<style>
		.show-control{
			padding-top: 7px;
		}
	</style>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal" style="width: 750px;">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">订单号</div>
		   	<div class="col-sm-3 show-control">
				<label style="height: inherit;">{{tFishBuy.orderNo}}</label>
		    </div>
			<div class="col-sm-2 control-label">类型</div>
			<div class="col-sm-3 show-control">
				{{tFishBuy.productTypeCd}}
			</div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">主要类型</div>
		   	<div class="col-sm-3 show-control">
				{{tFishBuy.mainType}}
		    </div>
			<div class="col-sm-2 control-label">规格</div>
			<div class="col-sm-3 show-control">
				{{tFishBuy.size}}
			</div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">单位</div>
		   	<div class="col-sm-3 show-control">
				{{tFishBuy.unit}}
		    </div>
			<div class="col-sm-2 control-label">价格</div>
			<div class="col-sm-3 show-control">
				{{tFishBuy.price}}
			</div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">重量</div>
		   	<div class="col-sm-3 show-control">
				{{tFishBuy.weight}}
		    </div>
			<div class="col-sm-2 control-label">发布时间</div>
			<div class="col-sm-3 show-control">
				{{tFishBuy.createTime}}
			</div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">最近一次操作时间</div>
		   	<div class="col-sm-10 show-control">
				{{tFishBuy.updateTime}}
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">省份</div>
		   	<div class="col-sm-3 show-control">
				{{tFishBuy.provice}}
		    </div>
			<div class="col-sm-2 control-label">城市</div>
			<div class="col-sm-3 show-control">
				{{tFishBuy.city}}
			</div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">有效截止时间</div>
		   	<div class="col-sm-3 show-control">
				{{tFishBuy.latestTime}}
		    </div>
			<div class="col-sm-2 control-label">备注</div>
			<div class="col-sm-3 show-control">
				{{tFishBuy.mark}}
			</div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">求购备注图片</div>
		   	<div class="col-sm-10 show-control">
				<div class="col-sm-3 show-control" v-for="imgurl in tFishBuy.imgs">
					<a :href="imgurl" target="_blank"><img :src="imgurl" width="100" alt="点击查看大图"/></a>&nbsp;&nbsp;
				</div>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">求购者</div>
		   	<div class="col-sm-3 show-control">
				{{tFishBuy.member}}
		    </div>
			<div class="col-sm-2 control-label">订单状态</div>
			<div class="col-sm-3 show-control">
				<select class="form-control" v-model="tFishBuy.status">
					<option value="280001">待审核</option>
					<option value="280002">审核失败</option>
					<option value="280003">审核通过</option>
					<option value="280010">下架</option>
				</select>
			</div>
		</div>
        <div class="form-group">
            <div class="col-sm-2 control-label">审核备注</div>
            <div class="col-sm-10 show-control">
                <input type="text" class="form-control" v-model="tFishBuy.updateMark"  id="updateMark" placeholder="" maxlength="30"/>
            </div>
        </div>
		<div class="form-group">
			<div class="col-sm-2 control-label">标签</div>
			<div class="col-sm-10 show-control">
				<input type="text" class="form-control"  v-model="tFishBuy.labels" placeholder="例如：成活率高,品质好,繁殖快" maxlength="30"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
		<input type="hidden" v-model="tFishBuy.id">
	</form>
</div>

<script src="${rc.contextPath}/js/tfishbuy/tfishbuy_add.js?_${date.systemTime}"></script>
</body>
</html>