<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal" style="width: 100%;" enctype="multipart/form-data">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">资讯标题</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tNews.newsTitle" id="newsTitle" placeholder="请输入资讯标题"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">资讯封面</div>
		   	<div class="col-sm-10">
		   		 <a style="text-decoration: none;display: none;" target="_blank" id="icon">查看封面</a><input type="file" v-model="tNews.newsLogo" id="uFile" name="uFile" placeholder="请选择封面图片"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">资讯类型</div>
		   	<div class="col-sm-10">
		   			<select class="form-control" v-model="tNews.newsTypeCd" id="newsTypeCd">
		   				<option value="030001">平台通知</option>
		   				<option value="030002">汽车资讯</option>
		   				<option value="030003">活动专题</option>
		   				<option value="030004">媒体报道</option>
		   			</select>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">是否热门</div>
		   	<div class="col-sm-10">
		   			<select class="form-control" v-model="tNews.hotFlg" id="hotFlg">
		   				<option value="1">是</option>
		   				<option value="0">否</option>
		   			</select>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">是否置顶</div>
		   	<div class="col-sm-10">
		   		<select class="form-control" v-model="tNews.topFlg" id="topFlg">
		   				<option value="1">是</option>
		   				<option value="0">否</option>
		   		</select>
		    </div>
		</div>
		<div class="form-group">
				<div class="col-sm-2 control-label">资讯内容</div> 
				<div class="col-sm-10">
					<textarea id="content" name="content" id="content" v-model="tNews.content" class="summernote">
					</textarea>
				</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
		<input type="hidden" id="newsId">
	</form>
</div>
<link rel="stylesheet" type="text/css" href="${rc.contextPath}/summernote/css/bootstrap.css">
<link href="${rc.contextPath}/summernote/dist/summernote.css" rel="stylesheet"/>
<script src="${rc.contextPath}/summernote/js/jquery.min.js"></script>
<script src="${rc.contextPath}/summernote/js/bootstrap.min.js"></script>
<script src="${rc.contextPath}/summernote/dist/summernote.js"></script>
<script src="${rc.contextPath}/summernote/dist/lang/summernote-zh-CN.js"></script>    <!-- 中文-->
<script src="${rc.contextPath}/js/sys/tnews_add.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/js/sys/common.js"></script>
</body>
</html>