<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">联系电话</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tQuestion.mobile" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">联系人</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tQuestion.linkMan" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">咨询内容</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tQuestion.question" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">状态</div>
		   	<div class="col-sm-10">
		   			<select  class="form-control" v-model="tQuestion.status" name="status">
			   			<option value="030001">待处理</option>
			   			<option value="030002">已处理</option>
			   		</select>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
	</form>
</div>

<script src="${rc.contextPath}/js/tquestion/tquestion_add.js?_${date.systemTime}"></script>
</body>
</html>