<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		#if($shiro.hasPermission("tracesource:save"))
		<a class="btn btn-success" href="tracesource_add.html"><i class="fa fa-plus" aria-hidden="true"></i> 新增</a>
		#end
		#if($shiro.hasPermission("tracesource:update"))
		<button type="button"  class="btn btn-primary" @click="update"><i class="fa fa-pencil fa-fw"></i>修改</button>
		#end
		#if($shiro.hasPermission("tracesource:delete"))
		<button type="button" class="btn btn-danger" @click="del"><i class="fa fa-trash-o fa-fw"></i>删除</button>
		#end
		#if($shiro.hasPermission("tracesource:download"))
		<button type="button"  class="btn btn-primary" @click="qrDownload"><i class="fa fa-download" aria-hidden="true"></i>下载二维码</button>
		#end
	</div>
	<div class="grid-btn">
		订单号：<input type="text" class="form-control" style="width: 150px;display: inline-block;" v-model="orderNo" @keyup.enter="query" placeholder="请输入订单号">
		来源：<select class="form-control" style="width: 250px;display: inline-block;" v-model="orderTypeCd">
		<option value="270001" >求购订单表</option>
		<option value="270002">供应订单表</option>
		<option value="270003">自行添加的数据,与订单无关</option>
	</select>
		<button type="button" class="btn btn-info" @click="query"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>
<script src="${rc.contextPath}/js/tracesource/tracesource.js?_${date.systemTime}"></script>
</body>
</html>