<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tStory.storyIcon" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tStory.storyTitle" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tStory.createTime" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tStory.descUrl" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tStory.createBy" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label"></div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tStory.updateBy" placeholder=""/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">车主故事</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tStory.updateTime" placeholder="车主故事"/>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
	</form>
</div>

<script src="${rc.contextPath}/js/tstory/tstory_add.js?_${date.systemTime}"></script>
</body>
</html>