<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">故事标题</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tStory.title" placeholder="请输入故事标题"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">封面图片</div>
		   	<div class="col-sm-10">
		      <input type="file" v-model="tStory.icon" placeholder="请输入封面图片"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">故事内容</div>
		   	<div class="col-sm-10">
		   			 <textarea id="container" name="container" v-model="tStory.content" style="width: 800px;height: 400px;margin: 0 auto;"></textarea>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
	</form>
</div>
<script type="text/javascript" charset="utf-8">
	window.UEDITOR_HOME_URL = "/framework/statics/UE/"; 
	//UEDITOR_HOME_URL、config、all这三个顺序不能改变
</script>
<script type="text/javascript" src="${rc.contextPath}/statics/UE/ueditor.config.js"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/UE/ueditor.all.js"></script>
<script src="${rc.contextPath}/js/tstory/tstory_add.js?_${date.systemTime}"></script>
</body>
</html>